[Desktop Entry]

Name=Reboot to Windows
GenericName=System Shortcut
Comment=Update next boot entry and reboot system

Icon=windows-logo-dark
Type=Application
Categories=Utility;
Keywords=reboot;windows;

Exec=pkexec bash -c 'sudo reboot_into_windows'
StartupNotify=false
